@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Montserrat:wght@400;500;600&family=Open+Sans:wght@400;500;600;700;800&family=Tilt+Warp&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    background: #070717;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}

p,
li {
    font-family: 'Open Sans', sans-serif;
}

.font-ibm {
    font-family: 'IBM Plex Mono', monospace;
}

.font-tilt {
    font-family: 'Tilt Warp', sans-serif;
    font-weight: bolder;
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
}

.marquee-content {
    font-size: 80px;
    display: inline-block;
    padding-left: 0%;
    animation: marquee 60s linear infinite;
}

.marquee-content-reverse {
    font-size: 80px;
    display: inline-block;
    padding-left: 0%;
    animation: marquee-reverse 60s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes marquee-reverse {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

.marquee-content::after {
    content: attr(data-text);
}

.shape {
    background: linear-gradient(45deg, #e27fcb 0%, #5D6BF8 100%);
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    height: 400px;
    transition: all 1s ease-in-out;
    width: 400px;
    z-index: 5;
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

.animated-banner {
    transition: opacity 0.5s ease-in-out;
}

.animated-banner-hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.shape-widget {
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.shape-widget-visible {
    transform: translateY(0);
    opacity: 1;
}

.shape-widget-hidden {
    transform: translateY(300px);
    opacity: 0;
}

.shape-widget .message {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-20px);
    background-color: #f9f9f9;
    padding: 8px 16px;
    color: #333;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    min-width: 150px;
}

.shape-widget .message::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #f9f9f9 transparent transparent transparent;
    filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.1));
}

.shape-widget .message.message-show {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-30px);
}

.shape-widget .message.message-hidden {
    opacity: 0;
    visibility: visible;
    transform: translateX(-50%) translateY(0%);
}
